<!-- 工具栏 -->
<nav class="bar bar-tab">
<a class="tab-item external" id="bartab01" href="{$indexurl}"><span class="icon icon-home"></span><span class="tab-label">首页</span></a>
<a class="tab-item external" id="bartab02" href="/shop/list.aspx?wid={$wid}"><span class="icon icon-star"></span><span class="tab-label">分类</span></a>
<a class="tab-item external" id="bartab03" href="cart.aspx?wid={$wid}"><span class="icon icon-settings"></span><span class="tab-label">购物车</span></a>
<a class="tab-item external" id="bartab04" href="{$userurl}"><span class="icon icon-settings"></span><span class="tab-label">我的</span></a>
</nav>

<!-- 工具栏 end-->
<!--
<div class="fn_copyright qb_bfc">
<div class="mod_color_comment bfc_c">&copy;&nbsp; {$shopconfig.copyright}</div>
</div>
-->