/*模板一*/
/*=====通用部分===*/
body{ background:#FFF}
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
.clear{ clear:both}
/*====模块样式重写====*/
.indexbox_1{ background:#FFF; }

/*====首页商品列表样式一====*/
.indexproductlist_1{}
.indexproductlist_1 img{ width:100%}
.indexproductlist_1 .IPL_name{ text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;  font-weight:normal; color:#383838}
.indexproductlist_1 .IPL_summary{ color:#999;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-weight:normal; }
.indexproductlist_1 .IPL_price{ color:#F00; font-weight:bold; padding-bottom:0.8em; padding-top:0.3em}
/*====首页商品类名样式一====*/
.indexTitle_1{  color:#000;  height:2.5rem; line-height:2.5rem; font-weight:normal; border-bottom:1px solid #eaeaea}
.indexTitle_1 p{ float:right; }
.indexTitle_1 p a{color:#ccc; font-weight:normal; font-size:0.6rem}

/*====首页焦点图片====*/

.slider{display:none;}/*用于获取更加体验*/
.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:#666;font-size:0}
.focus span.current{background:#fff}
/*====产品详细焦点图片====*/
.icon_img{ height:60%; width:60%}
.icon_img img{height:60%; width:60% }

/*====list页类名样式一====*/

.list-layer2{ padding-left:3em; line-height:2.5em}
.ui-list-thumb2 img{ width:100%; height:100%}
.ui-list-thumb3{ width:3em}
.ui-list-thumb4 img{ width:100%; height:100%}
/*====category 页商品样式一====*/
.CPL_name{ color:#000;white-space:pre-wrap; font-weight:normal; }
.CPL_summary{ color:#999;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-weight:normal}
.CPL_price{ color:#F00; font-weight:bold; }
.CPL_cart{ color:#F60}

/*====商品详细样式一====*/
.det_title{ color:#000}
.det_summary{ color:#666; font-weight:normal}
.det_prict{ color:#F00}
.bk1{ border:#eaeaea solid 1px; background: #F00; padding:0 0.5rem 0 0.5rem; color:#FFF; }
.popupimage{ width:5rem; height:5rem; margin-right:0.5rem; border:1px solid #ddd;border-radius:0.2rem; margin-top:-0rem; padding:0.15rem; background:#FFF}
/*====阴影====*/
.box-shadow-1{-webkit-box-shadow: 3px 3px 3px #999;-moz-box-shadow: 3px 3px 3px #999;box-shadow: 3px 3px 3px #999;}  
.box-shadow-2{-webkit-box-shadow:0 0 10px #ccc;-moz-box-shadow:0 0 10px #ccc;box-shadow:0 0 10px #ccc;  }  
.box-shadow-3{-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);-moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);box-shadow:0 0 10px rgba(0, 204, 204, .5);  }  
.box-shadow-4{-webkit-box-shadow:0 0 10px 15px #0CC;-moz-box-shadow:0 0 10px 15px #0CC;box-shadow:0 0 10px 15px #0CC;  }  
.box-shadow-5{-webkit-box-shadow:inset 0 0 10px #0CC;-moz-box-shadow:inset 0 0 10px #0CC;box-shadow:inset 0 0 10px #0CC;  }  
.box-shadow-6{  box-shadow:-10px 0 10px red, /*左边阴影*/  10px 0 10px yellow, /*右边阴影*/  0 -10px 10px blue, /*顶部阴影*/  0 10px 10px green; /*底边阴影*/ }  
.box-shadow-7{  box-shadow:0 0 10px 5px black,  0 0 10px 20px red;  }  
.box-shadow-8{  box-shadow:0 0 10px 20px red,  0 0 10px 5px black; }  
.box-shadow-9{  box-shadow: 0 0 0 1px red;  }  
/*====高度====*/
.len1{ height:1em}
.margin0{ margin:0}
.nofw{ font-weight:normal}
.fcolor1{ color:#F00}
.fcolor2{ color:#000}
.fcolor3{ color:#fff}
.border_none{ position:static}



/*自定义产品属性*/		
.cattitle{ padding-left:1rem}		
.catt{width:100%;height:auto;overflow:hidden;}
.catt a{border: #c8c9cd 1px solid;  text-align: center; background-color: #fff; margin:0.5rem; padding-left:0.5rem; padding-right:0.5rem;display: block; white-space: nowrap; color: #000; text-decoration:none;float:left;border-radius:0.6rem; font-size:0.8rem}
.catt a:hover {border:#ccc 1px solid; background:#F6383A; color:#FFF;}
.catt a:focus {outline-style:none;}
.catt .cattsel { background:#F6383A; color:#FFF;}/*默认选中*/

.catt .cattsel a:hover {border: #ff6701 2px solid;}

/*自定义产品属性 end */
.pronum{ margin-left:1.5rem; margin-top:0.8rem}
.min,.add{ width:2rem}
.salePriceNum{ width:2rem}


.productcontent img{ width:100%}
.h5attr{ font-weight:normal; line-height:1.5rem}

.infocart{  background:#f1f1f1; border:#eaeaea solid 1px; display:inline-table; color:#F90;border-radius:0.6rem; font-size:80%; padding-left:0.4rem; padding-right:0.4rem}

.cartimg{ width:5rem; margin-left:0.5rem; margin-right:0.5rem} 
.cartimg img{ width:100%}
.bbend{ border-bottom:#eaeaea solid 1px; margin:0; padding:0}
.cartlabel{ background:#f3f3f3}
.carttitle{ font-weight:normal; width:80%}
.item-inner h6{ font-weight:normal}
.cartedit{ font-weight:normal; border-left:#ddd solid 1px; padding-left:0.5rem}
.cartjs{ background:#F6383A; text-align:center; color:#FFF; height:3rem}
.row .col-33{ padding-top:0.3rem}

.newcartsku{ clear:both; line-height:2rem}
.fomartskuinfo{ line-height:1.5rem}

